<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <connectionStrings>
      <add name="conStr" connectionString="Data Source = DESKTOP-039QRBD\SQLEXPRESS ;Initial Catalog = Fabrica;Integrated Security = True;"/>
    </connectionStrings>
    <!--Parent:Avion, Child:Motor-->
    <appSettings>
      <add key="ParentSelectCmd" value="SELECT * FROM Avion"/>
      <add key="idParent" value="codA"/>
      <add key="ChildSelectCmd" value="SELECT * FROM Motor"/>
      <add key="ChildInsertCmd" value="INSERT INTO Motor (NumeM,codA) VALUES(@value1,@value2)"/>
      <add key="ChildUpdateCmd" value="UPDATE Motor SET NumeM=@value1, codA=@value2 WHERE codM=@value3"/>
      <add key="ChildDeleteCmd" value="DELETE FROM Motor WHERE codM = @value"/>
    </appSettings>
  
</configuration>